/*Resets*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Paterns*/
:root {
  /*Colors*/
  --color-base: #0e2844;
  --color-secondary: #ff6525;
  --color-background: #fafafa;
  --color-soft: #fff9f4;

  /*Font size*/
  font-size: 10px;
  --sd-font-size: 2rem;
  --medium-font-size: 2.5rem;
  --big-font-size: 3.5rem;
  --h1-font-size: 6rem;
  --li-font-size: 1.8rem;
  --card-big-font-size: 3rem;
  --card-sd-font-size: 1.8rem;

  /*Padding*/
  --sd-padding-size: 6rem;
  --ft-padding-size: 10rem;
}

/*Structure*/
body {
  width: 100%;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  padding: 3rem 5%;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

h1, h2, h3 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--color-base);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-size: var(--sd-font-size);
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

/*Container*/
#container {
  display: grid;
  grid-template-areas:
  "header"
  "main" 
  "footer";
}

/*Menu*/
.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-menu-container {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 180px; 
}

.logo img {
  width: 90%;
}

.menu-toggle-container {
  font-size: 3rem;
  color: var(--color-secondary);
  cursor: pointer;
  display: none;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li a {
  font-size: var(--sd-font-size);
  font-weight: 700;
  color: var(--color-base);
  padding: 2rem;
  margin-right: 1.5rem;
}

.menu li a:hover {
  color: var(--color-secondary);
  transition: 0.3s ease;
}

#button {
  width: 100%;
  padding: 1rem 2.5rem;
  background: var(--color-secondary);
  display: flex;
  justify-content: center;
  color: var(--color-background);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

#button:hover{
  opacity: 0.8;
  transition: .5s ease;
}

/*Content*/
.main {
  display: grid;
  grid-template-areas:
  "greetings greetings"
  "best-destinations best-destinations"
  "reasons-to-travel reasons-to-travel"
  "prices prices";
}

/*Home*/
.greetings {
  grid-area: greetings;
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  justify-content: center;
  align-items: center;
  padding-bottom: var(--sd-padding-size);
}

.content-invite {
  white-space: pre-line;
}

.content-invite h1 {
  font-size: var(--h1-font-size);
  font-weight: 500;
  line-height: 1.25;
  text-align: justify;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.content-invite p {
  font-size: var(--sd-font-size);
  font-weight: 600;
  color: var(--color-base);
}

.content-invite p span {
  color: var(--color-secondary);
}

.figure-travelling {
  display: flex;
  justify-content: flex-end;
}

.figure-travelling img {
  width: 85%;
}

/*Destinations*/
.best-destinations {
  grid-area: best-destinations;
  padding-bottom: var(--sd-padding-size);
}

.trip-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: var(--sd-padding-size);
}

.trip-card {
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#cardone {
  background: url(../images/brooklyn.jpg) center center;
  background-size: cover;
}

#cardtwo {
  background: url(../images/praia.jpg) center center;
  background-size: cover;
}

#cardthree {
  background: url(../images/montanhas.jpg) center center;
  background-size: cover;
}

.trip-name {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-secondary);
  padding: 2rem;
  max-height: 86px;
  height: 100%;
} 

.trip-name p {
  font-size: var(--sd-font-size);
  font-weight: 700;
  color: var(--color-background);
  text-align: center;
}

/*Reasons to travel*/
.reasons-to-travel {
  grid-area: reasons-to-travel;
  padding-bottom: var(--sd-padding-size);
}

.reasons-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  justify-content: space-between;
  align-items: center;
  padding-top: var(--sd-padding-size);
}

.header-item {
  display: flex;
  align-items: center;
}

.header-item span {
  font-size: var(--big-font-size);
  font-weight: 700;
  color: var(--color-base);
  padding-right: 1rem;
  width: 100%;
  max-width: 56px;
}

.reason-item p {
  font-size: var(--sd-font-size);
  font-weight: 400;
  color: var(--color-base);
  text-align: left;
  padding: 3rem 0;
  padding-top: 3rem;
  width: 85%;
}

.travelers {
  display: flex;
  justify-content: flex-end;
}

.travelers img {
  width: 1300%;
}

/*Prices*/
.prices {
  grid-area: prices;
  padding-bottom: var(--ft-padding-size);
}

.header-prices h2 {
  font-size: var(--big-font-size);
  color: var(--color-secondary);
  text-align: center;
}

.header-prices p {
  font-size: var(--big-font-size);
  font-weight: 700;
  color: var(--color-base);
  text-align: center;
  padding: 3rem;
}

.prices-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--color-soft);
  border: solid .3rem var(--color-secondary);
  border-radius: 1rem;
  padding: 4rem 2rem;
}

.card {
  width: 100%;
  max-width: 38rem;
  height: 53rem;
  padding: 5rem 2.5rem;
  background: var(--color-base);
  border: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  margin: 0 1rem;
}

.card #premium {
  margin-right: 0;
}

.card-body {
  height: 100%;
  font-weight: 700;
  color: var(--color-background);
}

.card-body .price {
  font-size: var(--card-big-font-size);
}

.card-body .price span {
  font-size: var(--card-sd-font-size);
}

.card-body .plan-type {
  font-size: var(--card-big-font-size);
  color: var(--color-secondary);
  padding-top: 0.5rem;
}

.card-body .plan-text {
  font-size: var(--card-sd-font-size);
  text-align: left;
  padding-top: 1rem;
}

.card-body .plan-list {
  max-height: 200px;
  height: 100%;
  padding-top: 2rem;
}

.card-body .plan-list li {
  display: flex;
  align-items: center;
  font-size: var(--li-font-size);
}

.card-body .plan-list i {
  font-size: 2rem;
  padding: 1rem 1.2rem 1rem 0;
}

.plan-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.plan-btn-container button {
  width: 70%;
  padding: 1.5rem 2rem;
  background: var(--color-background);
  border: solid 0.3rem var(--color-secondary);
  color: var(--color-secondary);
}

.plan-btn-container button:hover {
  color: var(--color-background);
  background: var(--color-secondary);
  transition: 0.3s ease;
}

/*Footer*/
.footer {
  grid-area: footer;
  padding: 5rem;
}

.footer-menu-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, auto));
}

.footer-menu-item span {
  display: inline-block;
  font-size: var(--medium-font-size);
  font-weight: 700;
  color: var(--color-secondary);
  padding-bottom: 1.8rem;
}

.footer-menu li {
  font-size: var(--li-font-size);
  font-weight: 700;
  color: var(--color-base);
  padding: 0.8rem 0;
  cursor: pointer;
}

.menu-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-social-media li {
  min-width: 5rem;
  min-height: 5rem;
  border-radius: 50%;
  margin-right: 2rem;
  background: var(--color-secondary);
  font-size: 2.5rem;
  color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-social-media li:last-child {
  margin-right: 0;
}

.brand-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.brand-container img {
  width: 80%;
}

@media screen and (max-width: 1100px) {

  :root {
    --sd-font-size: 1.8rem;
    --h1-font-size: 6rem;
  }

  .prices-card-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4rem;
    justify-items: center;
  }

  .card {
    display: block;
    margin: 0;
  }

}

@media screen and (max-width: 955px) {

  .menu-toggle-container {
    display: block;
    position: absolute;
    right: 2rem;
    z-index: 3;
  }

  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 25rem;
    height: 100vh;
    padding: 10rem 2rem;
    z-index: 2;
    background: var(--color-base);
    flex-direction: column;
    transition: 0.5s ease;
    justify-content: center;
  }

  .menu li a {
    color: var(--color-background);
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .menu-toggle-container.active {
    position: fixed;
  }

  .menu.active {
    right: 0;
  }

}

@media screen and (max-width: 1024px) {
  
  :root {
    --big-font-size: 3rem;
    --sd-padding-size: 5rem;
    --ft-padding-size: 8rem;
  }

  .logo {
    max-width: 177px;
  }

  .greetings {
    display: block;
    padding: 4rem 0 5rem;
  }

  .content-invite {
    white-space: normal;
    text-align: left;
  }

  .content-invite h1 {
    text-align: center;
  }

  .content-invite p {
    max-width: 80%;
    padding-top: 4rem;
    text-align: center;
    margin: 0 auto;
  }

  .figure-travelling, .travelers {
    justify-content: center;
  }

  .trip-container {
    flex-direction: column;
  }

  .trip-card {
    width: 70%;
    margin-bottom: 3rem;
  }

  .trip-card #card-three {
    margin-bottom: 0;
  }

  .reasons-container {
    display: block;
  }

  .reason-item p {
    width: 100%;
    padding-left: 0;
  }

  .footer-menu-container {
    grid-template-columns: 1fr;
    row-gap: 4rem;
    text-align: center;
  }

  .brand-container {
    padding-top: 3rem;
  }

  .brand-container img {
    width: 60%;
  }

 .prices-card-container {
   margin-bottom: -5rem;
 }

}

@media screen and (max-width: 500px) {

  :root {
    --sd-font-size: 1.5rem;
    --li-font-size: 1.25rem;
  }

  .content-invite p {
    max-width: 100%;
    padding-top: 2rem;
  }

  .trip-card {
    width: 100%;
  }

  .card {
    padding: 3rem 2rem;
  }

  .plan-btn-container {
    padding: 2rem;
  }

  .plan-btn-container button {
    width: 100%;
  }

}